body { 
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0; 
    background-image: url('../assets/mentoring bg.png'); 
    background-size: 100% 100%; 
    background-position: left top; 
    background-repeat: no-repeat; 
    background-color: #f0f4f8; 
    width: 100%;
    height: 100%; /* Full viewport height */
    overflow: hidden; /* Prevent scrolling */
    display: flex; /* Flexbox for centering */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    flex-direction: column; /* Stack the header on top of the container */
}

header {
    background-color: white; 
    padding: 0; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    z-index: 1000; 
    position: relative; /* Keeps the header in the normal document flow */
    margin-bottom: 30px; /* Space below the header */
    width: 100%;
}

.container {
    display: flex;
    width: 100%;
    height: 100%; 
    margin: 0; 
    background: rgba(255, 255, 255, 0.9); 
    border-radius: 8px;
    overflow: hidden; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    padding: 0;
    transform-origin: top center; /* Scale from the top left corner */
    transform: scale(0.8); /* Zoom out to 80% */
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.filters {
    padding: 10px;
    border-right: 1px solid #ccc;
    width: 115%; /* Set initial width */
    height: 100%; /* Full height */
    overflow-y: auto; 
    background: rgba(255, 255, 255, 0.9); /* Same translucent background as results container */
    transition: width 0.3s ease, opacity 0.3s ease; /* Smooth transition */
}

/* When filter panel is hidden */
.filters.hidden {
    display: none;
}

.filter-header {
    display: flex;
    justify-content: space-between; /* Distribute space between the elements */
    align-items: center; /* Vertically center the items */
    width: 115%; /* Ensure the header takes full width */
    padding: 10px;
    margin: 0px;
    background: rgba(255, 255, 255, 0.9); /* Same translucent background as results container */
    border-right: 1px solid #ccc;
}

.filter-header h3 {
    margin: 0;
    font-size: 1.2em;
    font-weight: 600;
}

.filter-button {
    background-color: transparent; 
    border: none;
    padding: 0;
    cursor: pointer;
    display: inline-block;
}

.filter-icon {
    width: 30px; 
    height: 30px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.filter-button:hover .filter-icon {
    transform: scale(1.1);
}

.results-container.full-width {
    width: 100%; 
    margin-left: 0; 
}

.results-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%; /* Make the results container take full width */
    height: 100%;
    margin-left: 70px;
    transition: width 0.3s ease;
}

.filter-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    background: rgba(255, 255, 255, 0.9);
    width: 20%;
    margin-left: 70px;

    border-right: 1px solid #ccc;
}

.results {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px; 
    padding: 10px; 
    margin: auto; 
    width: 100%; 
    justify-items: center; 
    overflow-y: auto; 
    height: 100%;
}

.profile {
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    padding: 20px;
    box-sizing: border-box;
    border: 2px solid #72bdff; 
    border-radius: 8px;
    background: linear-gradient(145deg, #f9f9f9, #e9e9e9); 
    transition: box-shadow 0.3s; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    height: 100%;
    width: 65%;
    position: relative; 
}

.profile-pic {
    width: 150px; 
    height: 150px; 
    border-radius: 50%; 
    object-fit: cover; 
    margin-bottom: 15px; 
}

.profile-info {
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
    margin: 0; 
}

.profile-info h3 {
    margin: 0; 
    font-size: 1.8em; 
    align-items: center;
    font-weight: 600; 
}

.title {
    font-size: 1.3em; 
    color: #555555; 
    margin: 2px 0;
    font-weight: 500; 
}

.agencies {
    font-size: 1.1em; 
    color: #333; 
    margin: 2px 0; 
    font-weight: 600; 
}

.contact-btn {
    padding: 6px 12px; 
    border-radius: 8px; 
    background-color: #1E88E5; 
    color: white; 
    transition: background-color 0.3s, transform 0.2s; 
    margin-top: auto; 
    width: auto;
    font-size: 18px; 
    padding:7px;
}

.contact-btn:hover {
    background-color: #1565C0; 
    transform: translateY(-2px); 
}

.checkbox-row {
    display: flex; 
    flex-wrap: wrap; 
    margin-bottom: 10px; 
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap; 
    justify-content: flex-start; 
    width: 100%; 
}

.agency-checkbox-label {
    width: calc(33.33% - 20px); 
    padding: 5px; 
    margin: 0 5px; 
}

.mentoring-area-checkbox-label {
    width: calc(50% - 20px); 
    padding: 5px; 
    margin: 0 5px; 
}

.filter-label {
    font-size: 10px; 
    margin-bottom: 10px; 
    display: flex; 
    align-items: center; 
}

.filter-actions {
    display: flex; 
    justify-content: flex-start; /* Align buttons to the left */
    padding: 15px 0; /* Add some padding above and below the buttons */
    margin-top: 20px; /* Space from other sections above */
    gap: 15px; /* Space between buttons if you add more in the future */
}

#resetButton {
    padding: 10px 20px; 
    font-size: 16px; 
    background-color: #FF5733; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
}

#resetButton:hover {
    background-color: #C70039; 
    color: white; 
}

.header-content {
    display: flex; 
    align-items: center; 
}

header img {
    height: 70px; 
    margin-right: 20px; 
}

header h1 {
    font-size: 30px; 
}

h2 {
    font-size: 24px; 
}

h3 {
    font-size: 1.2em; 
    margin-top: 0px;
}

.profile-info h3, .title, .agencies, .mentoring-areas {
    margin-bottom: 5px; 
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.mentoring-areas {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    margin-bottom: 20px ; 
}

.mentoring-btn {
    padding: 3px 3px; 
    border-radius: 5px; 
    background-color: #72bdff; 
    color: white; 
    border: none; 
    cursor: pointer; 
    margin: 2px; 
    transition: background-color 0.3s; 
}

.mentoring-btn:hover {
    background-color: #1E88E5; 
}

.pagination-controls {
    display: flex;
    justify-content: center; /* Center the items horizontally */
    align-items: center; /* Align items vertically (optional) */
    height: 5%;
    width: 100%;
    margin: 10px;
    padding: 0px;
}

.pagination-controls button {
    padding: 2px 5px; /* Adjust padding to make buttons smaller */
    font-size: 12px; /* Decrease font size */
    margin: 0px 20px; /* Margin between buttons */
    border: none;
    border-radius: 5px;
    background-color:  #FF5733;  /* Button background color */
    color: white; /* Button text color */
    cursor: pointer; /* Change cursor on hover */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    height: 30px;
    width: 5%;
}

.pagination-controls button:disabled {
    background-color: #ccc; /* Color for disabled buttons */
    cursor: not-allowed; /* Change cursor for disabled buttons */
}

.pagination-controls button:hover:not(:disabled) {
    background-color: #C70039; /* Darker blue on hover */
}

.pagination-controls .active {
    background-color: #FF5733;
    font-weight: bold; 
    transform: scale(1.05); 
}

/* Media Queries for responsive design */
@media (max-width: 768px) {
    .profile {
        flex: 0 1 calc(50% - 10px); 
        max-width: calc(50% - 10px);
    }

    .filters {
        width: 30%;
    }

    .results-container {
        width: 65%;
        margin-left: 10px;
    }
}

@media (max-width: 480px) {
    .profile {
        flex: 0 1 calc(100% - 10px); 
        max-width: 100%;
    }

    .filters {
        width: 100%; 
    }

    .results-container {
        width: 100%;
        margin-left: 0;
    }
}

.pagination-controls span {
    font-size: 18px;
    margin: 0px; 
    color: #333; 
    padding-top: 3px;
}
