html {
    overflow: hidden;
    height: 110%;
    margin: 0;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../assets/mentoring bg.png');
    background-size: 100% 100%;
    background-position: left top;
    background-repeat: no-repeat;
    background-color: #f0f4f8;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

header {
    background-color: white;
    padding-top: 30px;
    display: flex;
    align-items: start;
    z-index: 1000;
    position: relative;
    margin-bottom: 15px;
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}

header img {
    height: 70px;
    width: auto;
}

header h1 {
    font-size: 1.8em;
    color: #333;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
    height: 100vh;
    margin: 0;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 0;
    flex-direction: column;
}

.filters {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
    transition: width 0.3s ease, opacity 0.3s ease;
    height: 50%;
}

.filters.hidden {
    display: none;
}

.filter-panel {
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
    height: 10%;
}

.filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 5px 10px;
    margin: 0px;
    height: 20%;
}

.filter-header h3 {
    margin: 0;
    font-size: 1.2em;
    font-weight: 600;
}

h3 {
    font-size: 1.2em;
    font-weight: 600;
    color: #333;
    margin: 10px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.filter-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.filter-icon {
    width: 30px;
    height: 30px;
    padding-right: 20px;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.filter-button:hover .filter-icon {
    transform: scale(1.1);
}

.checkbox-row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.checkbox-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}

.agency-checkbox-label,
.mentoring-area-checkbox-label,
.exp-checkbox-label {
    font-size: 12px;
    width: auto;
    padding: 5px;
    margin: 0 10px;
    display: flex;
    align-items: center;
}

.filter-label {
    font-size: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.filter-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
    padding-top: 30px;
    padding-right: 10px;
    height: 60%;
}

#resetButton {
    padding: 10px 10px 10px;
    font-size: 12px;
    background-color: #FF5733;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#resetButton:hover {
    background-color: #C70039;
    color: white;
}

.more-filter-container {
    height: 65%;
    padding-top: 20px;
    margin-top: 20px;
}

.results {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: auto;
    width: 100%;
    align-items: flex-start;
    justify-items: center;
    height: 85%;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid #72bdff;
    border-radius: 8px;
    background: linear-gradient(145deg, #f9f9f9, #e9e9e9);
    transition: box-shadow 0.3s;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 300px;
    position: relative;
    transform: scale(0.8);
    height: 100%;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    margin-top: 10px;
}

.profile-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10px;
    flex-grow: 1;
}

.profile-info h3 {
    margin: 0;
    font-size: 1.8em;
    font-weight: 600;
}

.title {
    font-size: 1.2em;
    color: #555555;
    margin: 2px 0;
    font-weight: 500;
}

.agencies {
    font-size: 1.1em;
    color: #333;
    margin: 2px 0;
    font-weight: 600;
}

.profile-btn {
    padding: 6px 12px;
    border-radius: 8px;
    background-color: #1E88E5;
    color: white;
    transition: background-color 0.3s, transform 0.2s;
    margin-top: auto;
    margin-bottom: 10px;
    width: auto;
    font-size: 18px;
    align-items: center;
}

.profile-btn:hover {
    background-color: #1565C0;
    transform: translateY(-2px);
}

.pagination-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5%;
    width: 100%;
    margin: 10px;
    padding-top: 15px;
}

.pagination-controls button {
    padding: 2px 5px;
    font-size: 12px;
    margin: 0px 20px;
    border: none;
    border-radius: 5px;
    background-color: #FF5733;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    height: 30px;
    width: 5%;
}

.pagination-controls button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination-controls button:hover:not(:disabled) {
    background-color: #C70039;
}

.pagination-controls .active {
    background-color: #FF5733;
    font-weight: bold;
    transform: scale(1.05);
}

/* Media Queries for responsive design */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: 100%;
    }

    .filters {
        width: 100%;
        height: auto;
    }

    .results-container {
        width: 100%;
        margin-left: 0;
        height: 60%;
    }

    .results {
        grid-template-columns: repeat(2, 1fr); /* 2 columns for tablets */
    }

    /* Make profiles stack vertically on mobile */
    .profile {
        flex-direction: column; /* Stacks the profiles vertically */
        max-width: 100%; /* Remove max-width for full width on smaller screens */
        margin-bottom: 20px; /* Space between profiles */
    }
}

@media (max-width: 480px) {
    .filters {
        width: 100%;
        height: auto;
    }

    .results-container {
        width: 100%;
    }

    .results {
        grid-template-columns: 1fr; /* 1 column for mobile */
    }

    .pagination-controls button {
        font-size: 10px;
        height: 28px;
    }

    header h1 {
        font-size: 24px;
    }

    /* Stack profiles vertically on mobile */
    .profile {
        flex-direction: column;
        max-width: 100%; /* Ensure profiles take full width */
    }
}

#filterPanel section .checkbox-group {
    margin-top: 10px 0px 0px;
    padding: 10px;
    height: 40%;
    display: block;
}

#filterPanel section h3 {
    font-size: 1.2em;
    font-weight: 600;
    color: #333;
    padding-left: 10px;
    margin: 0;
}

.agency-exp-filters {
    display: flex;
    flex-direction: row;
    height: 60%;
    width: 100%;
    padding-right: 20px;
}

.agency-exp-filters section {
    width: 30%;
    height: 60%;
}

.profile-info .experience {
    padding-bottom: 10px;
}

.mentoring-btn {
    background-color: #276fae;
    color: white;
    font-size: 12px;
    font-weight: 600;
    padding: 8px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.mentoring-btn:hover {
    background-color: #7eb8fc;
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.mentoring-btn:focus {
    outline: none;
    border: 2px solid #FF5733;
    box-shadow: 0 0 8px rgba(255, 87, 51, 0.7);
}

.mentoring-btn:active {
    background-color: #08224a;
    transform: translateY(0);
}

.mentoring-btn:disabled {
    background-color: #B0BEC5;
    cursor: not-allowed;
    box-shadow: none;
}
